@CHARSET "ISO-8859-1";

.border {
	border: 13px solid;
	border-color: white;
}

.h2box {
	position: relative;
	overflow: hidden;
}

.h2box h2 {
	position: relative;
	z-index: 2;
	padding: 5em 0 5em 0;
}

.h2box span {
	border-radius: 3px;
	padding: 0.7em 2em 0.7em 2em;
	background-color: black;
	color: white;
	box-shadow: 0px 12px 10px -10px rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 10px;
	left: 10px;
}

.h2box img {
	position: absolute;
	left: 0;
	top: 0;
	width: auto;
	height: auto;
}

.contactholder {
	border: 1px solid #dddddd;
	box-shadow: 0px 12px 10px -10px rgba(0, 0, 0, 0.6);
	padding: 1em;
	maring: 1em;
	border-radius: 3px;
}

.shophours {
	padding: 1em;
	maring: 1em;
}