﻿@CHARSET "ISO-8859-1";
/* Preisauzeichnung mehr als Fett!  */
.prize {
	font-size: 2em;
	font-weight: bolder;
}

/* Checkboxen im Modul Filter */
.cb:before{
	 content: "";
	 color: #ff8000; 
     font-family: "FontAwesome";
     font-style: normal;
     font-weight: normal;
     font-variant: normal;
     font-size:1.5em;
     text-transform: none;
     line-height: 1;
     -webkit-font-smoothing: antialiased;
     width: 1em;
     display: inline-block;
     margin-right: 5px; 
}
 input[type="checkbox"]:checked + .cb:before {
      content: "";
      color: #3c763d;
      box-shadow: 0px 4px 3px -3px rgba(0, 0, 0, 0.6);
	  transition: all ease-in-out 100ms;
	  animation: pop 500ms linear ;
   }
   
 @keyframes pop { 
 		0% {transform: scale(0.2);}
 		25% {transform: scale(0.7);}
 		50% {transform: scale(1.3);}
 		100% {transform: scale(1);}
		}
 input[type="checkbox"] {
    display: none; 
    }
    

.inline{
   	margin: 5px; 
  	display: inline-block;
	}

.block{
	display:block;
}
 