@CHARSET "ISO-8859-1";
/*Indikatoren bes Sliders */
.carousel-indicators li {
	box-shadow: 1px 1px 2px #888;
	border-radius: 0;
	padding: 0 8px;
	width: auto;
	height: auto;
	line-height: 20px;
	background: #ddd;
	color: #999;
	border: none;
	text-indent: 0;
	margin: 4xp;
}

.carousel-indicators li.active {
	width: auto;
	height: auto;
	color: #fff;
	background: #3276b1;
}

.carousel-indicators li:hover {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.40);
	/* Safari and Chrome */
	-moz-transform: scale(1.40);
	/* Firefox */
	transform: translatZ(0) scale(1.40);
}

/* Tabelle : Vorne Fett und hinten rechtsbÃ¼ndig */
td:first-child {
	font-weight: bolder;
}

td:last-child {
	text-align: right;
}
/* Zebra Ausstattung */
.stripped:nth-child(odd) {
	background-color: #e3e3e3;
}

label.error {
	color: white;
	background-color: red;
	animation: tored 1s linear;
	border-radius: 2px;
	padding: 3px;
}

@
keyframes tored {
	from {background-color: white;
}

to {
	background-color: red;
}

}
@media screen and (min-width: 800px) {
	.btn-danger::after {
		content: ' +49 631 3162556';
	}
}