@CHARSET "ISO-8859-1";

body {
	background: url(../gfx/bg/road.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
	padding-top: 60px;
}

.abstand {
	padding: 10px;
}